/* 버튼 링크 영역 */
.headerContainer {
  display: flex;
  justify-content: space-between;
}

.homeButton {
  float: right;
}

.title {
  padding-bottom: 12px;
}

/* 버튼 링크 영역 */
.headerContainer {
  display: flex;
  justify-content: space-between;
}

.myProblemsTitle {
  font-size: 20px;
  padding-bottom: 12px;
}

.homeButton {
  float: right;
}
.problemListContainer li:first-child {
  border-top: 1px solid #dfdfdf;
}

.problemListContainer li {
  padding: 12px 24px;
  border-bottom: 1px solid #dfdfdf;
}

.problemListContainer li:hover {
  background-color: #f1f1f1;
}

.problemListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.problemListItem .problemInfo {
  display: flex;
  flex-direction: column;
}

.problemListItem .problemInfo .problemTitle {
  font-size: 16px;
  font-weight: 700;
}

.problemListItem .problemInfo .problemCategory {
  font-size: 12px;
  color: #a0a0a0;
}

.problemListItem .problemDifficulty {
  font-weight: 500;
}

.problemListItem .problemDifficulty.easy {
  color: #ffd53c;
}

.problemListItem .problemDifficulty.medium {
  color: #67d8ea;
}

.problemListItem .problemDifficulty.hard {
  color: #9c4cf1;
}